@{
    ViewBag.Title = "Complaints";
}

<section class="contactData">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-auto text-center">
                @Html.ActionLink("Dalal", "Dalal", new { area = "" }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Individuals", "Individuals", new { area = "" }, new { @class = "btn btn-outline-success" })
            </div>
        </div>

    </div>
</section>