.SystemicPayOnline h2 {
    font-size: 40px;
    color: #003b71;
}

.SystemicPayOnline .content {
    background-color: rgba(255, 255, 255, 0.89);
    border-radius: 8px
}

.SystemicPayOnline input[type=file] {
    background-color: rgba(48, 93, 140, 0.24);
    opacity: 0;
    z-index: 6;
    position: relative
}


.SystemicPayOnline .custumInpFile {
    position: relative;
    width: 50%;
    height: 40px;
    z-index: 5;
    top: 35px;
    left: 25%;
    background-color: rgba(48, 93, 140, 0.5);
    line-height: 40px;
    color: #fff
}

.SystemicPayOnline .btn-primary {
    background-color: #5EB3E4;
    border: none
}
