.packageRadio {
    display: none;
}

#new {
    cursor: pointer;
    color: #fff
}

    #new i:nth-of-type(2) {
        padding-left: 60px
    }

#choose {
    padding-left: 30px;
    display: none
}


/* custom style disable datepicker style*/
.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
    /*background: red !important;
    color: white;*/
    opacity: .35;
}

.super-stars {
    font-size: 20px;
}

    .super-stars i {
        margin-right: 1px;
    }

    .super-stars.default {
        color: #FFC109;
    }

    .super-stars.rating {
        font-size: 24px;
        cursor: pointer;
    }

        .super-stars.rating i {
            margin-right: 2px;
        }

.editSpan {
    color: #808080;
    font-size: 25px;
    position: relative;
    top: -51px;
    margin-right: 10px;
    border: 2px solid #808080;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #ececec;
    float: right
}

.addContractSpan {
    color: #808080;
    font-size: 25px;
    position: relative;
    top: -51px;
    margin-right: 40px;
    border: 2px solid #808080;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #ececec;
    float: right;
}

.addComplaintSpan {
    color: #808080;
    font-size: 25px;
    position: relative;
    top: -51px;
    margin-right: 40px;
    border: 2px solid #808080;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #ececec;
    float: right;
}

.spanNoResult {
    text-align: center;
    color: red;
    width: 100%;
    background-color: rgba(252, 50, 50, 0.21);
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    top: -38px;
}


/*=====================================*/


.complains .selectize-control {
    width: 75%;
    margin: 0 auto;
}

.margin-top-10 {
    margin-top: 10px;
    margin: 0 auto;
}

/*=========================================================================*/

@media (max-width: 370px) {

    .complains .selectize-control {
        margin: 0 auto;
        width: 100%
    }
}

@media (min-width: 371px) and (max-width: 575px) {
    .complains .selectize-control {
        margin: 0 auto;
        width: 100%
    }
}

@media (max-width:574px) {
    .complains .selectize-control {
        margin: 0 auto;
        width: 100%
    }
}

@media (max-width: 575px) {
    .complains .selectize-control {
        margin: 0 auto;
        width: 100%
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .complains .selectize-control {
        margin: 0 auto;
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .complains .selectize-control {
        margin: 0 auto;
        width: 100%
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .complains .selectize-control {
        margin: 0 auto;
        width: 90%;
    }
}


.notAvailableSpan {
    display: block;
    height: 100%;
    width: 100%;
    /* height: 45.5%; */
    /* padding: 4rem; */
    /* padding-bottom: 8rem; */
    position: absolute;
    background-color: rgba(234, 33, 33, 0.7);
    color: #fff;
    text-align: center;
    left: 0;
    top: 0;
    line-height: 130px;
    font-size: 18px;
    /* padding: 4.2rem 1rem !important; */
    margin-bottom: 1rem !important;
    border: none !important;
    border-radius: 40px 10px;
    cursor: no-drop;
}

.profile {
    text-align: left;
}

.smallText {
    font-size: 10px !important;
}

.termsDiv {
    text-align: left;
}

.portal-panel-header {
    position: relative;
    background: #003b71;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
}

.portal-panel-add {
    color: #808080;
    font-size: 25px;
    position: relative;
    top: -51px;
    margin-right: 40px;
    border: 2px solid #808080;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    background-color: #ececec;
    float: right;
}

.portal-content{
    text-align:left;
}

/**layout*/

.top .langBtn {
    margin-top: 48px !important;
}
.top .form {
    width: 95%;
    margin-left: 10px;
}
.top .userName {
    padding-left: 0;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: left !important;
    direction: rtl;
}
.top .logout {
    margin-right: 344px;
    margin-top: 15px
}
.portal-text-align {
    text-align: left;
}

input[readonly] {
    background-color: white;
}
.slider01 .carousel-item img {
       height:31vw;
       width:100%
    }



/**NavBar links**/
/*.navbar .nav-item:nth-last-of-type(3){border-right:none}*/

/**lay out */
body{overflow-x:hidden}
.logged {
    right: -33%;
    top: 27px;
    position: relative
}

.UN-bg {
    width: 55%;
    right: 34%;
    top: -12px;
    height: 127%;
    background-color: #ffffff9c;
    border-radius: 20px;
}
