
@{
	ViewBag.Title = "";
}

<section class="complains">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3>الشكاوي والإقتراحات</h3>
				<div class="form-group">
					<select class="custom-select">
						<option selected>نوع المشكلة</option>
						<option value="1">طلب إلغاء التعاقد</option>
						<option value="2">شكوي في موظف</option>
						<option value="3">تحديث التعاقد</option>
						<option value="4">إالغاد التعاقد</option>
						<option value="5">غير ذلك</option>
					</select>
				</div>
				<div class="form-group">
					<select class="custom-select">
						<option selected>نوع التعاقد</option>
						<option value="1">xxxxxxxxxx</option>
						<option value="2">xxxxxx</option>
						<option value="3">yyyyyyyyy</option>
						<option value="4">yyyy</option>
						<option value="5">zzzzzzz</option>
						<option value="6">zzzzzzz</option>
					</select>
				</div>
				<div class="form-group">
					<select class="custom-select">
						<option selected>العامل</option>
						<option value="1">xxxxxxxxxx</option>
						<option value="2">xxxxxx</option>
						<option value="3">yyyyyyyyy</option>
						<option value="4">yyyy</option>
						<option value="5">zzzzzzz</option>
					</select>
				</div>
				<div class="ta form-group">
					<textarea class="form-control" placeholder="التفاصيل"></textarea>
				</div>
				<div class="submit"><button type="submit">حفظ</button></div>
			</div>
			<div class="col-sm-6">
				<img class="img-fluid" src="~/Images/frontEnd/complains.png">
			</div>
		</div>
	</div>
</section>
