
@{
	ViewBag.Title = "";
}

<div class="content">
	<div class="container">
		<div class="row">
			<div class="col mt-4 p-0">
				<div class="bg-white text-dark rounded rounded-20px p-5" style="margin: auto;width: 97%;">
					<div class="row text-right">

						<div class="w-100">
							<h5 class="mb-3">Contracts</h5>
							<div>
								<div class="row">
									<div class="col-12 col-md-12">
										<select class="form-control" id="" name="" tabindex="-1">
											<option value="" selected="selected"></option>
											<option value="" selected="selected">New not paid contracts</option>
											<option value="" selected="selected">New waiting confirmation contracts</option>
											<option value="" selected="selected">Running contracts</option>
											<option value="" selected="selected">Paid contracts</option>
											<option value="" selected="selected">Finished contracts</option>
											<option value="" selected="selected">Canceled contracts</option>
										</select>

									</div>
								</div>
								<div class="row pt-3">
									<div class="col-12 col-md-12">
										<div id="contractList">

											<table class="table table-bordered table-striped table-responsive">
												<thead class="thead-default">
													<tr>
														<th class="text-center bg-info text-light">ContractNum</th>
														<th class="text-center bg-info text-light">HourlyPricingName</th>
														<th class="text-center bg-info text-light">ShiftName</th>
														<th class="text-center bg-info text-light">StartDay</th>
														<th class="text-center bg-info text-light">NextAppointment</th>
														<th class="text-center bg-info text-light">FinalPrice</th>
													</tr>
												</thead>
												<tbody>

													<tr>
														<td><a href="/en/HourlyWorkers/Details/7d61a10e-5124-e811-80fd-000d3ab6652d">DLAL0002054</a></td>
														<td>باقة الفلبين مسائي</td>
														<td>Evening <i class="fa fa-sun-o"></i></td>
														<td>22/03/2018</td>
														<td></td>
														<td>793.80</td>
													</tr>
													<tr>
														<td><a href="/en/HourlyWorkers/Details/954d5fc0-4e24-e811-80fd-000d3ab6652d">DLAL0002053</a></td>
														<td>باقة الفلبين مسائي</td>
														<td>Evening <i class="fa fa-moon-o"></i></td>
														<td>09/03/2018</td>
														<td></td>
														<td>3969.00</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</div>
</div>