
@{
    ViewBag.Title = "تم بنجاح";
}
<section class="loginPage">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col mt-4 p-0">
                    <div class="bg-white text-dark rounded rounded-20px p-4 p-lg-5" style="margin: auto;width: 97%;">
                        <div class="row text-left">
                            <div class="col-12 text-center mb-3"><img src="~/Images/frontEnd/dalal.png" alt="دلال" /></div>
                            <div class="col-12 text-center mb-3">
                                <div class="alert alert-successiful w-50 m-auto " role="alert">
                                    @DbRes.T("LeadCreationSuccess", "DalalResources")
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>