
@{
    ViewBag.Title = "ChoosePaymentMethod";
}
<style>
    .ChoosePaymentMethod .content {
        background-color: rgba(255, 255, 255, 0.89);
        border-radius: 8px
    }

    .ChoosePaymentMethod  h2 {
        font-size: 40px;
        color: #003b71;
    }
    .ChoosePaymentMethod .btn-primary {
        background-color: #5EB3E4
    }
    .ChoosePaymentMethod .btn-gray {
        background-color: #818285;
        color:#fff
    }

    .ChoosePaymentMethod .btn{transition:.2s}

    .ChoosePaymentMethod .btn:hover {
box-shadow:1px 1px 6px #212121     }
</style>
<section class="ChoosePaymentMethod text-center my-5 ">
    <div class="container">
        <div class="content pb-5">
            <h2 class="pb-5 pt-4 mb-2">إختيار طريقة الدفع </h2>

            <form action=" " method="">
                <button type="" class="btn btn-primary btn-lg border-0 my-1"> دفع اونلاين  &nbsp;&nbsp;<i class=" fa fa-money"></i></button>
                <button type="" class="btn btn-gray btn-lg border-0 my-1 mr-4"> تحويل بنكي  &nbsp;&nbsp;<i class=" fa fa-cc-visa"></i></button>

            </form>
        </div>
    </div><!--container-->
</section>

