@{
    ViewBag.Title = DbRes.T("ResetPasswordConfirmation", "ProfileResources");
}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col mt-4 p-0">
                <div class="bg-white text-dark rounded rounded-20px p-5 m-auto w-md-40">
                    <div class="text-center">
                        <div class="form-group h4 text-primary">@ViewBag.Title</div>
                        <div class="form-group text-center">
                            <div class="alert alert-successiful w-100 m-auto " role="alert">
                                @DbRes.T("YourPasswordHasBeenReset", "ProfileResources").
                            </div>
                            <p>
                                 @Html.ActionLink(DbRes.T("ClickHereToLogIn", "ProfileResources"),"login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    
</div>
