
@{
    ViewBag.Title = "Branches";
}

<section class="branches">
    <div class="container">
        <div class="row">
            <div class="right col-sm-6">
                <h3>فرع الرياض</h3>
                <p><i class="fa fa-map-marker"></i>الدائري الشمالي - مخرج 7، 6709 عثمان ابن عفان، حي الفلاح، المملكة العربية السعودية.</p>
                <p><i class="fa fa-phone"></i>920033660</p>
                <div class="social">
                    <a class="fa fa-twitter" href="https://twitter.com/abdalrecruit" target="_blank"></a>
                    <a class="fa fa-facebook" href="https://www.facebook.com/www.abdal.sa" target="_blank"></a>
                    <a class="fa fa-instagram" href="https://www.instagram.com/abdalrecruit" target="_blank"></a>
                </div>
            </div>
            <div class="left col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.114218215271!2d46.7040309850812!3d24.791542154122048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efd0287de8f77%3A0xd065d439b7db0146!2zNjcwOSDYt9ix2YrZgiDYudir2YXYp9mGINio2YYg2LnZgdin2YbYjCDYp9mE2YHZhNin2K3YjCDYp9mE2LHZitin2LYgMTMzMTTCoDI1NzHYjCDYp9mE2LPYudmI2K_Zitip!5e0!3m2!1sar!2seg!4v1520843067685" height="220" style="border:0;width:100%" allowfullscreen=""></iframe>
            </div>
			<div class="right col-sm-6">
				<h3>فرع حائل</h3>
				<p><i class="fa fa-map-marker"></i>حائل - طريق الملك فيصل - حي العزيزية   </p>
				<p><i class="fa fa-phone"></i>جوال مدير منطقة القصيم وحائل 0595783322</p>
				<div class="social">
					<a class="fa fa-twitter" href="https://twitter.com/abdalrecruit" target="_blank"></a>
					<a class="fa fa-facebook" href="https://www.facebook.com/www.abdal.sa" target="_blank"></a>
					<a class="fa fa-instagram" href="https://www.instagram.com/abdalrecruit" target="_blank"></a>
				</div>
			</div>
			<div class="left col-sm-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.114218215271!2d46.7040309850812!3d24.791542154122048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efd0287de8f77%3A0xd065d439b7db0146!2zNjcwOSDYt9ix2YrZgiDYudir2YXYp9mGINio2YYg2LnZgdin2YbYjCDYp9mE2YHZhNin2K3YjCDYp9mE2LHZitin2LYgMTMzMTTCoDI1NzHYjCDYp9mE2LPYudmI2K_Zitip!5e0!3m2!1sar!2seg!4v1520843067685" height="220" style="border:0;width:100%" allowfullscreen=""></iframe>
			</div>
            <div class="right col-sm-6">
                <h3>فرع جدة</h3>
                <p><i class="fa fa-map-marker"></i>المنطقة الغربية - مدينة جدة  - شارع التحلية  - مركز بن حمران – الدور السابع – مكتب 702</p>
                <p><i class="fa fa-phone"></i>6583498012</p>
                <div class="social">
                    <a class="fa fa-twitter" href="https://twitter.com/abdalrecruit" target="_blank"></a>
                    <a class="fa fa-facebook" href="https://www.facebook.com/www.abdal.sa" target="_blank"></a>
                    <a class="fa fa-instagram" href="https://www.instagram.com/abdalrecruit" target="_blank"></a>
                </div>
            </div>
            <div class="left col-sm-6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3622.114218215271!2d46.7040309850812!3d24.791542154122048!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efd0287de8f77%3A0xd065d439b7db0146!2zNjcwOSDYt9ix2YrZgiDYudir2YXYp9mGINio2YYg2LnZgdin2YbYjCDYp9mE2YHZhNin2K3YjCDYp9mE2LHZitin2LYgMTMzMTTCoDI1NzHYjCDYp9mE2LPYudmI2K_Zitip!5e0!3m2!1sar!2seg!4v1520843067685" height="220" style="border:0;width:100%" allowfullscreen=""></iframe>
            </div>
            <div class="right col-sm-6">
                <h3>فرع الدمام</h3>
                <p><i class="fa fa-map-marker"></i>المنطقة الشرقية – الدمام - كورنيش الدمام - شارع الخليج - أبراج النخيل - الدور الخامس</p>
                <p><i class="fa fa-phone"></i>0138349629</p>
                <div class="social">
                    <a class="fa fa-twitter" href="https://twitter.com/abdalrecruit" target="_blank"></a>
                    <a class="fa fa-facebook" href="https://www.facebook.com/www.abdal.sa" target="_blank"></a>
                    <a class="fa fa-instagram" href="https://www.instagram.com/abdalrecruit" target="_blank"></a>
                </div>
            </div>
            <div class="left col-sm-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3571.971391819999!2d50.12610378558454!3d26.45665108594439!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e49fbbe7c4d9ac9%3A0xf9f5051f6d65a6bf!2z2KPYqNix2KfYrCDYp9mE2YbYrtmK2YTYjCDYp9mE2LTYp9i32KYg2KfZhNi02LHZgtmK2Iwg2KfZhNiv2YXYp9mFIDMyNDEz2Iwg2KfZhNiz2LnZiNiv2YrYqQ!5e0!3m2!1sar!2seg!4v1523715688342" height="220" style="border:0;width:100%" allowfullscreen=""></iframe>
            </div>
			<div class="right col-sm-6">
				<h3>فرع القصيم</h3>
				<p><i class="fa fa-map-marker"></i>القصيم - محافظة عنيزة - حي الفاخرية - شارع زامل عبدالله السليم </p>
				<p><i class="fa fa-phone"></i>جوال مدير الفرع 0595783322 </p>
				<p><i class="fa fa-phone"></i>جوال ممثل الفرع 0591586212 </p>
				<div class="social">
					<a class="fa fa-twitter" href="https://twitter.com/abdalrecruit" target="_blank"></a>
					<a class="fa fa-facebook" href="https://www.facebook.com/www.abdal.sa" target="_blank"></a>
					<a class="fa fa-instagram" href="https://www.instagram.com/abdalrecruit" target="_blank"></a>
				</div>
			</div>
			<div class="left col-sm-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3583.8075075928914!2d43.98384408559303!3d26.072546602028872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1581edb4b4fe1683%3A0xa257c984c0ab3441!2z2LTYp9ix2Lkg2LLYp9mF2YQg2KfZhNi52KjYr9in2YTZhNmHINin2YTYs9mE2YrZhdiMINin2YTZgdin2K7YsdmK2KnYjCDYudmG2YrYstipIDU2MjQx2Iwg2KfZhNiz2LnZiNiv2YrYqQ!5e0!3m2!1sar!2seg!4v1523716035802" height="220" style="border:0;width:100%" allowfullscreen=""></iframe>
			</div>
			<div class="right col-sm-6">
				<h3>فرع الخرج</h3>
				<p><i class="fa fa-map-marker"></i>الخرج _ طريق ابي بكر الصديق _ بجوار بنك ساب بتجاه الشمال - الدور الأول </p>
				<p><i class="fa fa-phone"></i>جوال مدير الفرع 0591584296  </p>
				<p><i class="fa fa-phone"></i> رقم الفرع الأرضي 0115483407</p>
				<div class="social">
					<a class="fa fa-twitter" href="https://twitter.com/abdalrecruit" target="_blank"></a>
					<a class="fa fa-facebook" href="https://www.facebook.com/www.abdal.sa" target="_blank"></a>
					<a class="fa fa-instagram" href="https://www.instagram.com/abdalrecruit" target="_blank"></a>
				</div>
			</div>
			<div class="left col-sm-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.5347470856036!2d47.31992968501092!3d24.15297198439246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjTCsDA5JzEwLjciTiA0N8KwMTknMDMuOSJF!5e0!3m2!1sar!2seg!4v1523715864857" height="220" style="border:0;width:100%" allowfullscreen=""></iframe>
			</div>
        </div>
    </div>
</section>

