
@{
                /**/

                ViewBag.Title = "Credentials";
}
@{
    var routeData = ViewContext.RouteData.Values;
    string action = routeData["action"] as string;
    string lang = routeData["lang"] as string;
}
@if (lang == "ar")
{
    <section class="team">
        <div class="container p-2 p-sm-5 mb-3 mb-sm-0">
            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC02171.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-right">عبدالرحمن بن سليمان المحيميد</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp; الرئيس التنفيذي للشركة </li>
                        <li>2016&nbsp; نائب الرئيس التنفيذي - شركة جال للموارد البشرية.</li>
                        <li>2012&nbsp; نائب الرئيس التنفيذي - شركة الموارد للأستقدام</li>
                        <li>2011&nbsp; مدير عام الموارد البشرية والإدارية - شركة العيوني القابضة.</li>
                        <li>2010&nbsp; مدير عام الموارد البشرية والإدارية - شركة توليدو العربية ( أكوا القابضة ).</li>
                        <li>2005&nbsp; نائب المدير العام ورئيس إدارة الشؤون المالية والإدارية - شركة الفهاد للمقاوالت و التشغيل.</li>
                        <li>2002&nbsp; مدير الموارد البشرية  والإدارية - الشركة الوطنية الزراعية.</li>
                        <li>2000&nbsp; محلل مالي - الحرس الوطني و شركة فينيل.</li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC02117.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-right">سعيد بن محمدالحارثي</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp; مدير عام الأصول البشرية</li>
                        <li>2016&nbsp; مدير عام الموارد البشرية والادارية – شركة الأفضل - مجموعة العيسى القابضة.</li>
                        <li>2014&nbsp; مدير عام الموارد البشرية والشؤون الادارية – شركة زهران القابضة. </li>
                        <li>2012&nbsp; مدير الموارد البشرية والشؤون الادارية – شركة العيوني للاستثمار والمقاولات. </li>
                        <li>2010&nbsp; مشرف الموارد البشرية – شركة توليدو العربية ( أكوا القابضة ).</li>
                        <li>2008&nbsp; مشرف في الموارد البشرية – برنامج طائرات F15 - شركة الألكترونيات المتقدمة المحدودة.  </li>
                        <li>2007&nbsp; أخصائي اتفاقيات - شركة ريثيون الشرق الأوسط - الدفاع الجوي .</li>
                        <li>1995&nbsp; أخصائي عقود - شركة بوينج الشرق الأوسط - شركة لوكهيد مارتن - شركة السلام للطائرات - شركة بان نسما.</li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01937.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-right">محمد فضل قاسم</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2018&nbsp; المستشار المالي (مدير الإدارة المالية)</li>
                        <li>2013&nbsp; مدير ترتيب و مشورة - دار التمويل و الاستثمار المالية.</li>
                        <li>2012&nbsp; مدير الشؤون المالية و الإدارية بالوكالة - شركة مطاعم نجدي. </li>
                        <li>2009&nbsp; محلل مالي - شركة دارفن كابيتال </li>
                        <li>2008&nbsp; محلل مالي - شركة فريق ألفا المحدودة.</li>
                        <li>2007&nbsp; مدقق حسابات -  بي دي أو انترناشونال .</li>
                        <li> عمل مستشار مالي لعدد من الشركات:</li>
                        <ul style="list-style:disc">
                            <li> شركة سيارة الوطن السعودية - شركة المتخصصه لصناعة الادوية</li>
                            <li>  شركة إجارة الأولى - شركة تمكين الرائدة - شركة الاتحاد الكيميائية</li>
                            <li> شركة اطلال نجد للمقاولات - شركة الاستثمار العالمية</li>
                        </ul>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01935.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-right">محمد بن دواس العنزي</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2015&nbsp; مدير عام الإدارة الطبية</li>
                        <li>2012&nbsp; مدير الموارد البشرية - مستشفى الجزيرة.</li>
                        <li>2002&nbsp;  مدير الموارد البشرية - مستشفى رعاية الرياض. </li>
                        <li>1991&nbsp; مدير خدمات فندقية - فندق الأنتركونتناتل </li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01962.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-right">هشام ابراهيم فكري</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp;  المدير المالي</li>
                        <li>2015&nbsp;  مدير الإدارة المالية – شركة الأجير للتوظيف.</li>
                        <li>2013&nbsp;   مدير الإدارة المالية – شركة الموارد للتوظيف. </li>
                        <li>2009&nbsp; مدير الإدارة المالية – شركة الأمتياز للتكنولوجيا المحدودة </li>
                        <li>2007&nbsp; رئيس حسابات – شركة المجال العربي القابضة.</li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01953.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-right">يوسف محمد الشهري</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp;  مدير المبيعات  </li>
                        <li>2015&nbsp;   مدير المبيعات – شركة أبدال.</li>
                        <li>2013&nbsp;  مدير مبيعات – شركة الموارد للتوظيف. </li>
                        <li>2008&nbsp; مدير الخدمة المصرفية لكبار العملاء – البنك الفرنسي </li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC02007.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-right">عبدالله بن صالح الرشيد</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp; مدير إدارة الافراد  </li>
                        <li>2011&nbsp; مدير قسم الموارد البشرية - شركة البدائل للإستشارات الهندسية</li>
                        <li>2010&nbsp; مدير العلاقات العامة – شركة توليدو العربية( أكوا القابضة ).</li>
                        <li>2008&nbsp; مدير إدارة الموارد البشرية – مؤسسة خدمات الأعمار للمقاولات</li>
                        <li>2007&nbsp; مدير علاقات حكومية – مؤسسة حدائق رند للمقاولات.</li>
                        <li>2005&nbsp; مدير العلاقات الحكومية - شركة الفهاد للمقاولات والتشغيل .</li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01972.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-right">طلال البرديس</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp; مدير عام إدارة التوظيف الدولي  </li>
                        <li>2013&nbsp; مدير العمليات – شركة الموارد للتوظيف.</li>
                        <li>2004&nbsp; مدير العمليات – البنك السعودي الامريكى.</li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

</section>
}
else
{
    <section class="team">
        <div class="container p-2 p-sm-5 mb-3 mb-sm-0">
            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC02171.jpg" />
                </div>

                <div class="col-sm-9">
                    <h4 class="text-center text-sm-left">Abdulrahman Sulaiman Al-Mohaimeed</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp; Abdal - CEO.</li>
                        <li>2016&nbsp; Jal Human resources company - deputy CEO.</li>
                        <li>2012&nbsp; Mawarid Recruitment Co - Deputy CEO.</li>
                        <li>2011&nbsp; Al-Ayouni holding Company - HR and Administrative Affairs Director.</li>
                        <li>2010&nbsp; TOLID Company - HR and Administrative Affairs Director.</li>
                        <li>2005&nbsp; Fahad Contracting Company – Deputy Director and head section of Administrative & financial affairs.</li>
                        <li>2002&nbsp; National Company - HR and Administrative Affairs Director.</li>
                        <li>2000&nbsp; National Guard and Vinyl ompany – Financial Analyst.</li>
                    </ul>
                </div>
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC02117.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-left">Saeed Mohammed Al-Harithi</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp; Human Capital Director – Abdal Co.</li>
                        <li>2016&nbsp; Manager of Human Resources and Administrative affairs - Al-Ettal Co «Al-Issa Holding Group»</li>
                        <li>2014&nbsp;General Manager of HR & Administrative affairs - Zahran Holding Co.</li>
                        <li>2012&nbsp; HR & Administrative Director – Al-Ayuni Investment & Contracting Co.</li>
                        <li>2010&nbsp; 2010 HR Supervisor – Tolido Co.</li>
                        <li>2008&nbsp; HR Supervisor – Advanced Electronics Co.</li>
                        <li>2007&nbsp; Agreements Specialist - Rethion Middle East.</li>
                        <li>1995&nbsp; Agreements Specialist - Boeing Middle East . Locking Martin Co . Salam Aircraft Co . Pan Nesma Co.</li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01937.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-left">Mohammed Fadl Qasem </h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2018&nbsp;  Financial advisor</li>
                        <li>2013&nbsp; Director of arrangement and consultation - Finance and Investment House.</li>
                        <li>2012&nbsp; Director of Financial and Administrative Affairs - Najdi Restaurants Company.</li>
                        <li>2009&nbsp; Financial Analyst - Darven Capital </li>
                        <li>2008&nbsp; Financial Analyst - Alpha Group Co., Ltd.</li>
                        <li>2007&nbsp; Auditor - BDO International .</li>
                        <li> He worked as a financial advisor for a number of companies:</li>
                        <ul style="list-style:disc">
                            <li> Al - Watan Saudi Car Company - Specialized company for the pharmaceutical industry</li>
                            <li>  First Leasing Company - Tamkeen Pioneer Company - Union Chemical Company</li>
                            <li> Altalal Najd Contracting Company - International Investment Company</li>
                        </ul>
                    </ul>
                </div><!--col-->
            </div><!--row-->


            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01935.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-left">Mohammed Dawas Al-Anzi </h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2015&nbsp; Medical Administration Director</li>
                        <li>2012&nbsp; Human Resources Director – AlJazera Hospital.</li>
                        <li>2002&nbsp; Human Resources Manager – Riyadh Care Hospital. </li>
                        <li>1991&nbsp; Guest Service Manager – Intercontinental Hotel</li>
                    </ul>
                </div><!--col-->
            </div><!--row-->



            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01962.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-left">Hisham Ibrahim Fekri</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp; Financial Manager</li>
                        <li>2015&nbsp; Financial Management Director - Ajir Recruitment Company.</li>
                        <li>2013&nbsp; Financial Management Director - Al Mawared Recruitment Company.</li>
                        <li>2009&nbsp; Financial Management Director - Amtiaz Technology Co.</li>
                        <li>2007&nbsp; Accounts Chief - Arab Holding Company.</li>
                    </ul>
                </div><!--col-->
            </div><!--row-->


            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01953.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-left">Yousef Mohammed Al-Shehri</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp;  Sales Manager  </li>
                        <li>2013&nbsp;  Sales Manager – Mawarid Recruitment Co. </li>
                        <li>2008&nbsp;  Senior Banking Services Manager – France Bank </li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC02007.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-left">Abdullah Saleh Al-Rasheed</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp; Individual director  </li>
                        <li>2011&nbsp; Human Resources Director - AlBadaal For Engineering Consultancy Co</li>
                        <li>2010&nbsp; Public Relations Manager – TOLEDO Co.</li>
                        <li>2008&nbsp; Human Resources Director – Alaamar Services contracting Co.</li>
                        <li>2007&nbsp; Director of Government Relations - Rend Gardens Establishment for Contracting.</li>
                        <li>2005&nbsp; Director of Government Relations – Al-Fahad Holding Group.</li>
                    </ul>
                </div><!--col-->
            </div><!--row-->

            <div class="row mb-5">
                <div class="col-sm-3 text-center">
                    <img class="img-fluid mb-3 mt-3 mt-sm-0" width="180" src="~/Images/frontEnd/DSC01972.jpg" />
                </div>
                <div class="col-sm-9">
                    <h4 class="text-center text-sm-left">Talal Al-Bardis</h4>
                    <ul>
                        <li style="font-size:1.2rem; color:#59A5D6;list-style: none;">2017&nbsp; General Manager for international Recruitment Department  </li>
                        <li>2013&nbsp; Overseas Recruitment Manager – Mawarid Company.</li>
                        <li>2004&nbsp; Operation Manager – Saudi American Bank.</li>
                    </ul>
                </div><!--col-->
            </div><!--row--> 
</section>
}


