
@{
    ViewBag.Title = "Missions";
}

<section class="welcome">
    <div class="container">
        <div class="header">
            <h2>أهداف الشركة</h2>
            <p>
                وجِدنـا لتحقيـق أهـداف مساهمينا فـي تقديـم خدمـات متميـزة ومربحـة فـي مجـال الموارد البشـرية، وذلك عبر:
            </p>
        </div>
        <div class="part1">
            <div class="row">
                <div class="col-md-4">
                    <img class="img-fluid" src="~/Images/frontEnd/w1.png" alt="...">
                    <p>
                        توفــر الاعداد الكافيــة مــن الموظفــن
                        المتعاقديــن الذى تحتاجهــم الشــركات
                        والمؤسســات فــي مختلــف القطاعــات،
                        وبشـكلٍ يراعـي أهميـة الوقـت فـي تنفيـذ
                        كل اإلجــراءات.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="~/Images/frontEnd/w2.png" alt="...">
                    <p>
                        توفير موظفين متعاقدين مهرة ومتمكنين
                        ً مهنيــا، يضيفــون إلــى المشــاريع المختلفــة
                        قيمــة نوعيــة حقيقيــة، ويســهمون فــي
                        تحقيــق أهــداف مختلــف الأعمال التجاريــة
                        والصناعيــة والعقاريــة والخدميــة.
                    </p>
                </div>
                <div class="col-md-4">
                    <img class="img-fluid" src="~/Images/frontEnd/w3.png" alt="...">
                    <p>
                        تقديـم خدمـات متميـزة لعملائنا، عبر إدارة
                        العلاقة معهــم بشــكل احترافى يضمــن
                        ّاطلاعهم ورضاهـم ومتابعتهـم لـكل الأعمال
                        المتعلقــة بموظفيهــم المتعاقديــن، بشــكل
                        لحظــي، وعبر أحــدث وســائل التقنيــة.
                    </p>
                </div>
            </div>
        </div>
        <div class="part2">
            <div class="row">
                <div class="col-md-12">
                    <div class="sec1">
                        <h4>رسالة الشركة</h4>
                        <p>
                            العمـل علـى تمكين المنشـآت والأفراد مـن التركيـز علـى أعمالهـم الأساسية إضافـة إلـى مسـاعدتهم علـى تحقيـق
                            الكفـاءة والفاعليـة عبر تزويدهم ً بمـا يحتاجونـه مـن مـوارد بشـرية، مـع إدارة شـؤونها كليـا ً أو جزئيـا ً نيابـة عنهـم.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="sec2">
                        <h4>رؤية الشركة المستقبلية</h4>
                        <p>
                            أن نكـون الشـريك المفضـل للمنشـآت والأفراد فـي مجـال اسـتقدام المـوارد البشـرية، وأن نكـون العلامة التجاريـة
                            الأفضل بين شـركات الاستقدام والتشـغيل فـي المملكـة العربيـة السـعودية.
                        </p>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="sec3">
                        <h4>استراتيجية العمل</h4>
                        <p>
                            يقـوم العمـل فـي »أبـدال« علـى استـراتيجية عمـل واضحـة محـددة المعالـم والاهداف. وتؤمـن الشـركة بأنـه لـن يوجـد
                            إنجـاز إذا لـم ُيكن  هنـاك ُ أهـداف مرسـومة لتحقـق، ودون خطـة تسـهل الوصـول    
                            إلـى هـذه الأهداف. وبعد البحث والتحليل وتطوير مسارات الخطط جزءا مهما من عملية بناء الاستراتيجية  فى ابدال
                            فلا خطة مجدية بدون أسس معرفية صلبة يتم البناء عليها للمستقبل.
                        </p>
                        <p>
                            وبعـد ان تـم بنـاء الجانـب النظـري مـن اسـراتيجية العمـل، ضخـت ”أبـدال“ المـوارد الماليـة الكافيـة لتحويـل هذه الاستراتيجة
                            إلــى واقــع ملمــوس عــر تطبيــق كافــة مكوناتهــا. وتســعى »أبــدال« خــلال الســنوات الخمــس القادمــة إلــى مضاعفــة
                            إيراداتهـا والتوسـع فـي أسـواقها وأنشـطتها كمـاو ونوعـا ، لتصبـح كيانـا تجاريـا متعـدد المـوارد وذا مركـز مالـي قـوي
                            ووضـعٍ استـراتيجي آمـن ومسـتقر
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

