
@{
    ViewBag.Title = "Services";
}
<div class="breadcrumb">
    <h1 class="container">خدماتنا</h1>
</div>
<section class="serviceWidget">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="serviceCont">
                    <h3 class="secTit aboutTit">البرمجة والتطوير</h3>
                    <div class="serviceDetails">
                        <p>نضع فى حسباتنا تطورات تكنولوجيا المعلومات يوما بيوم
                            لكى نواكبها لذلك نضمن لك جودة المنتج</p>
                        <h4>لا حدود لما تريد</h4>
                        <p> كل عمل له طبيعته ونظامه فلدينا أنظمة ملائمة لمتطلبات
                            كل عمل سواء كان إدارة أو موارد بشرية أو أي شيء آخر .</p>
                        <h4>الأقل هو الكثير</h4>
                        <p> نقدم لك أعلى برمجية من خلال الأكواد المختصرة
                            والتقنيات الحديثة كتقنية الساس وغيرها .</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="serviceImg">
                    <img class="img-fluid d-block mx-auto" src='@Url.Content("~/Images/frontEnd/ser/ser01.png")'>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="serviceWidget">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="serviceCont">
                    <h3 class="secTit aboutTit">ابنِ موقعك الخاص</h3>
                    <div class="serviceDetails">
                        <p>استمتع بتصميم موقعك بأحدث التقنيات المستخدمة عالميا
                            مثل HTML5، CSS3، SVG، ليس هذا فقط لكن تستطيع
                            تخصيص الموقع طبقا لمتطلباتك وذلك بأنظمة ادارة
                            المحتوى التي تناسبك.
                        </p>
                        <h4>ليست مجرد خدمة ويب !</h4>
                        <p>نحن لا نقدم لك مجرد خدمة ويب، لكنها تدريب كامل على
                            إستخدام الموقع وادارته بشكل أفضل لتحيقيق
                            النتائج المرغوبة</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="serviceImg">
                    <img class="img-fluid d-block mx-auto" src='@Url.Content("~/Images/frontEnd/ser/ser02.png")'>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="serviceWidget">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="serviceCont">
                    <h3 class="secTit aboutTit">تطبيقات الجوال</h3>
                    <div class="serviceDetails">
                        <p>تواصل مع عملائك الآن في اي وقت وفي كل مكان من
                            خلال تطبيقات جوال سهلة الإستخدام تستطيع من خلالها
                            نقل محتوى فعّال لجمهورك يمكنهم الوصول اليه
                            بكل سهولة .</p>
                        <h4>تطوير التطبيقات</h4>
                        <p>حقق فكرتك الآن على أرض الواقع واستمتع بنتائجها وذلك
                            بتطبيق يجمع كل مميزات عملك وبإمكان الجمهور
                            المستهدف التوصل اليه بسهولة </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="serviceImg">
                    <img class="img-fluid d-block mx-auto" src='@Url.Content("~/Images/frontEnd/ser/ser03.png")'>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="serviceWidget">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="serviceCont">
                    <h3 class="secTit aboutTit">التسويق الإلكتروني</h3>
                    <div class="serviceDetails">
                        <p>التسويق الإلكتروني خاصة التسويق الداخلي الذي يستهدف
                            ميول الجمهور الآن أصبح إتجاه مُتَبَع لتعزيز وضعك بالسوق
                            وبناء علاقات قوية مع الجمهور .
                        </p>

                        <h4>تحسين محركات البحث .</h4>
                        <p>اجعل ترتيبك في محركات البحث أفضل من ذي قبل لتزيد
                            فرصة جمهورك في الوصول اليك بسهولة .</p>

                        <h4>الدعاية والاعلان</h4>
                        <p> اعلن عن منتجاتك وخدماتك بإعلانات محددة وجذابة و ذكية
                            تستهدف جمهورك مباشرة .</p>

                        <h4>التسويق بالمحتوى</h4>
                        <p>انشر فوائد عملك و اجذب مزيد من الزوّار و المهتمين
                            بعلامتك التجارية من خلال خطط خاصة بالمحتوى التسويقي </p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="serviceImg">
                    <img class="img-fluid d-block mx-auto" src='@Url.Content("~/Images/frontEnd/ser/ser04.png")'>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="call-us">
    <div class="container">
        <h4>هل تود طلب خدمة من الخدمات السابقة؟</h4>
        <a href="#">قم بطلب خدمتك</a>
    </div>
</section>
